{% extends 'base.html.twig' %}

{% block title %}Nouvel emprunt{% endblock %}

{% block javascripts %}
    {% for path in encore_entry_js_files('form') %}
        <script src="{{ absolute_url(path) }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div role="alert" class="alert alert-error">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24">
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ message }}</span>
        </div>
    {% endfor %}
    <div class="flex justify-center">
		<div class="container px-10">
            <h1 class="text-3xl font-bold my-10">Emprunt {{ formName }}</h1>
            <div class="flex justify-center">
                <div class="lg:w-10/12">
                    <p><a href="{{ path('app_main') }}" class="btn">< Retour à la liste des emprunts</a></p>
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script>
        const equipmentInfo = {{ equipmentInfoJson|raw }};
        const loanableDays = {{ loanableDays|raw }};
        const _ud = {{ unavailableDays|raw }};
        const unavailableDays = _ud.map((ud) => {return {"start": new Date(ud.start), "end": new Date(ud.end), "preventsLoans": ud.preventsLoans, "comment": ud.comment}});
        const tagRules = {{ tagRules|raw }};
        window.onload = () => {
            loanStartDayElement?.addEventListener("change", formDateChange);
            loanEndDayElement?.addEventListener("change", formDateChange);
            loanStartTimeslotElement?.addEventListener("change", formDateChange);
            loanEndTimeslotElement?.addEventListener("change", formDateChange);
            loanTaggedElementsArray.forEach((element) => {
                element.addEventListener("change", processTagRules);
            });
            processUnavailableDays();
        }
    </script>
{% endblock %}
