<h3>Évènements à venir / en cours : {{loans|length}}</h3>
<table class="datagrid">
    <thead>
        <tr>
            <td></td>
            <td>Id</td>
            <td>Date</td>
            <td>Responsable</td>
            <td>Équipment emprunté</td>
            <td>Géré par</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
            {% if loan.type == "D" %}
                <tr style="background:var(--alert-success-bg);">
                    <td>-></td>
                    <td>#{{ loan.id }}</td>
                    <td>{{ loan.date|date() }}</td>
                    <td>{{ loan.loaner }}</td>
                    <td>{{ loan.equipmentLoaned }}</td>
                    <td>{{ loan.assignee }}</td>
                    <td>
                        <a class="btn btn-secondary" href="/admin?crudAction=edit&crudControllerFqcn=App\Controller\Admin\LoanCrudController&entityId={{ loan.id }}" {# lol #}>Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr style="background:var(--alert-warning-bg);">
                    <td><-</td>
                    <td>#{{ loan.id }}</td>
                    <td>{{ loan.date|date() }}</td>
                    <td>{{ loan.loaner }}</td>
                    <td>{{ loan.equipmentLoaned }}</td>
                    <td>{{ loan.assignee }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_loan_return', {'id': loan.id}) }}">Faire le retour</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>