{% extends 'base.html.twig' %}

{% block title %}MATOS - Emprunts et Gestion de matériel
{% endblock %}

{% block body %}
	{% include 'main/navbar.html.twig' %}

	<div class="flex justify-center pt-16 mb-10">
		<div class="container">
            <div class="flex justify-end pt-10">
                <div class="flex">
                    <div class="mx-2 w-10 h-full pending-reservation"></div>En cours de réservation
                </div>
                <div class="flex">
                    <div class="mx-2 w-10 h-full bg-error"></div>Réservé
                </div>
                <div class="mr-5"></div>
            </div>
            <div id="{{ audiovisualCategory|lower }}" class="row">
                <h2 class="text-3xl font-bold">{{ audiovisualCategory.name }}</h2>
                    {% set loans = equipmentLoaned[audiovisualCategory.id] ?? [] %}
                    {% include 'equipment_category/availability_table.html.twig' with {equipment: tableEquipment, dates: dates, loans: loans, unavailableDays: unavailableDays} %}
                <a href="{{ path('reservation_form_audiovisual') }}" class="btn btn-primary text-base-100">Faire une demande d'emprunt</a>
            </div>
            <div class="mt-10">
                Autres emprunts :
                <a href="{{ path('reservation_form_vr') }}" class="btn btn-primary text-base-100">Emprunt de casque VR</a>
                <a href="{{ path('reservation_form_graphic_design') }}" class="btn btn-primary text-base-100">Emprunt de tablettes graphiques</a>
            </div>
		</div>
	</div>
    {% include 'main/footer.html.twig' %}
{% endblock %}
