<div class="navbar top-0 fixed bg-base-100 shadow z-10">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl mr-0.5" href={{path('app_main')}}><img class="w-8 h-8" src="{{ asset('logo.png') }}"><span class="hidden md:block">MATOS</span><span class="inline-block align-bottom text-primary text-sm hidden md:block">Beta</span></a>
    {% if is_granted('ROLE_ADMIN') %}
      <a class="btn btn-outline btn-error" href={{path('admin')}}>Admin</a>
    {% endif %}
  </div>
  
  {# for category in categories??[] %}
    {% if category|length > 0 and category.slug != "accessories" %}
      <a href="#{{ category|lower }}" class="btn btn-ghost mx-1 hidden md:flex">{{ category }}</a>
    {% endif %}
  {% endfor #}

  <div class="flex-none gap-2">
    <div class="dropdown dropdown-end">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div tabindex="0" role="button" class="btn btn-ghost">
          <div class="mr-4"><b>{{ app.user.name ?? app.user.email|split('@')[0] }}</b></div>
          <div class="w-10 rounded-full">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Exampleavatar.png" />
          </div>
        </div>
        <ul tabindex="0" class="mt-3 z-10 p-2 shadow menu menu-sm dropdown-content bg-white rounded-box w-52">
          <b class="p-1 ml-2">{{ app.user.name ?? app.user.email|split('@')[0] }}</b>
          <li><a href="{{ path('app_myloans') }}">Mes demandes</a></li>
          <li><a href="{{ logout_path(key = null) }}">Se déconnecter</a></li>
        </ul>
      {% else %}
        <a href="{{ path('login') }}" class="btn btn-ghost">
          <div class="mr-4"><b>Se connecter</b></div>
          <div class="w-10 rounded-full">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Exampleavatar.png" />
          </div>
        </a>
      {% endif %}
    </div>
  </div>
</div>
<div class="pt-16">
</div>
{% for message in app.flashes('error') %}
  {% include 'main/flash.html.twig' with {'type': "error"} %}
{% endfor %}
{% for message in app.flashes('success') %}
  {% include 'main/flash.html.twig' with {'type': "success"} %}
{% endfor %}
{% for message in app.flashes('info') %}
  {% include 'main/flash.html.twig' with {'type': "info"} %}
{% endfor %}