<h3>Emprunts en attente : {{loans|length}}</h3>
<small>Les emprunts en attente sont triés par date d'émission de la demande (le plus ancien en haut).</small>
<table class="datagrid">
    <thead>
        <tr>
            <td>Responsable</td>
            <td>Date de départ</td>
            <td>Date de retour</td>
            <td>Équipment emprunté</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.loaner.name ?? loan.loaner.email|split('@')[0] }}</td>
                <td>{{ loan.departuredate|date() }}</td>
                <td>{{ loan.returndate|date() }}</td>
                <td>{{ loan.equipmentloaned[0].category }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_loan_review', {'id': loan.id}) }}">Répondre</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>