{% extends "mailer/base.html.twig" %}
{% block body %}
    <h1>Bonjour {{ loaner.name??"" }} !</h1>
    <p>Vous avez fait une demande d'emprunt de matériel sur MATOS pour le <b>{{ loan.departureDate|date('d/m/Y H:i') }}</b></p>
    <p>Votre demande a été acceptée !</p>
    {% if loan.adminComment is not empty %}
        <p>Commentaire :</p>
        <i>{{ loan.adminComment??"" }}</i>
    {% endif %}
    <br/>
    <p>Pour rappel, voici un récapitulatif de votre demande :</p>
    <p>Date de début de l'emprunt : <b>{{ loan.departureDate|date('d/m/Y H:i') }}</b></p>
    <p>Date de retour de l'emprunt : <b>{{ loan.returnDate|date('d/m/Y H:i') }}</b></p>
    <p>Matériel emprunté :</p>
    <ul style="list-style-type: none;padding:0;">
        {% for equipment in loan.equipmentLoaned??"" %}
            <li style="margin-bottom: 10px;">
                • <b>{{ equipment.name }}</b>
            </li>
        {% endfor %}
    </ul>
    <p>Pour récupérer votre emprunt :</p>
    <ul>
        <li style="margin-bottom: 10px;">
            • Il vous est demandé d'être présent devant le studio ou devant le bureau H110 <b>5 minutes avant l'heure de départ.</b>
        </li>
        <li style="margin-bottom: 10px;">
            • Tout retard de plus de 10 minutes entraînera <b>l'annulation de l'emprunt</b>.
        </li>
    </ul>
    <p>Pour rendre votre emprunt :</p>
    <ul>
        <li style="margin-bottom: 10px;">
            • Présentez-vous devant le studio ou devant le bureau H110 <b>5 minutes avant l'heure de retour.</b>
        </li>
        <li style="margin-bottom: 10px;">
            • Le retour doit se faire uniquement en présence d'un enseignant ou personnel de l'IUT.
        </li>
        <li style="margin-bottom: 10px;">
            • Un retard trop important peut entraîner une <b>restriction des emprunts</b>.
        </li>
    </ul>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter à l'adresse <a href="mailto:emprunt.mmi@gmail.com?subject=?subject=Question%20emprunt%20">emprunt.mmi@gmail.com</a>.</p>
    <p>À bientôt sur MATOS !</p>
{% endblock %}

